<br/><br/>
<div class="page-header">
    <h1><%= @greeting %> <%= flash[:winner] %></h1>
    
  </div>
  <div class="row">
    <div class="span4">
      <h3># of random winners</h3>
      <ul>
        <li><%= @randomwinnercount.to_s %></li>
        <li>yay ints!</li>
      </ul>
    </div>
    <div class="span4">
      <h3>Video List</h3>
      <ul>
        <% @videos.each do |vid| %>
          <li><%= vid.to_s %></li>
        <% end %>
      </ul>
      
    </div>
    <div class="span4">
      <h3>invoice list</h3>
      <ul>
        <% @invoices.map do |video,email| %>
        <li><%= email %> <%= video %></li>
        <% end %>
        </ul>
    </div>
  </div>
  <hr/>